---
import { Image } from "astro:assets";
import florImage from "../assets/flor.jpg";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Home Page"
  description="Welcome to my awesome Astro website!"
>
  <h1 class="text-3xl font-bold mb-4">Welcome to lerrman!</h1>
  <Image class="block mx-auto w-11/12" src={florImage} alt="Flor" />
  <p class="mb-4 p-3 text-center mt-3">
    This is the content of the home page. It's rendered inside the BaseLayout,
    so the Header and Footer are automatically included. Lorem ipsum dolor sit
    amet consectetur, adipisicing elit. Ipsum, nisi! Facilis hic optio vitae
    maxime laboriosam debitis inventore rem voluptatum, nihil, distinctio at!
  </p>
  <p class="mb-4 p-3 text-center">
    You can add more Astro components or Markdown content here.
  </p>
</BaseLayout>
